<div class="ui inverted menu">
	<a href="/" class="item">Homepage</a>
	<a href="/" class="item">Projects</a>
	<a href="/" class="item">Customers</a>
	<div class="right menu">
		<a href="#" class="ui item">Admin Tools</a>
		<a href="/" class="ui item">Logout</a>
	</div>
</div>
