<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	</head>
	<body style="background: #f0f0f0;">
		<% include partials/menu %>
		<div class="ui centered grid" style="margin-top: 20px;">
			<div class="seven wide column">
				<div class="ui card" style="width: 100%;">
					<div class="content">
						<div class="header">Your Tasks</div>
					</div>
					<div class="content">
						<div class="ui relaxed divided list">
							<a href="#" class="item">Test</a>
						</div>
					</div>
				</div>
			</div>
			<div class="seven wide column">
				<div class="ui card" style="width: 100%;">
					<div class="content">
						<div class="header">Your Projects</div>
					</div>
					<div class="content">
						<div class="ui relaxed divided list">
							<a href="#" class="item">Test</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
